.login-form {
  background: rgba(0, 0, 0, 0.02);
  margin: auto;
  margin-top: 2.5em;
  width: 20vw;
  min-width: 250px;
  padding: 10px;
  display: block;
  text-align: center;
}

mat-spinner {
  display: block;
  margin: auto;
}
